<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="right_arm_ur3" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
  <xacro:arg name="initial_position" default=""/>
  
  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur3 -->
  <xacro:include filename="$(find ur_description)/urdf/ur3gripper.urdf.xacro" />

  <!-- arm -->
  <xacro:arg name="kinematics_config" default="$(find ur_description)/config/ur3_default.yaml"/>
  <xacro:ur3_robot prefix="right_arm_" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    kinematics_file="${load_yaml('$(arg kinematics_config)')}"
    initial_position="$(arg initial_position)"
  />

  <xacro:property name="yaml_file" value="$(find ur_description)/urdf/final_transform.yaml" />
  <xacro:property name="transform" value="${load_yaml(yaml_file)}"/>
  <xacro:property name="x" value="${transform['x']}" />
  <xacro:property name="y" value="${transform['y']}" />
  <xacro:property name="z" value="${transform['z']}" />

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "right_arm_base_link" />
    <origin xyz="${x} ${y} ${z + 0.08}" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
